accelerate==0.18.0
colorama
datasets
numpy~=1.24.2
Pillow>=9.5.0
requests
rwkv==0.7.3
safetensors==0.3.0
sentencepiece
pyyaml~=6.0
tqdm
xformers~=0.0.18
texttable
toml~=0.10.2
git+https://github.com/huggingface/peft
transformers==4.28.1
bitsandbytes==0.38.1
llamacpp~=0.1.14
llama-cpp-python==0.1.34; platform_system != "Windows"
https://github.com/abetlen/llama-cpp-python/releases/download/v0.1.34/llama_cpp_python-0.1.34-cp310-cp310-win_amd64.whl; platform_system == "Windows"
--extra-index-url https://download.pytorch.org/whl/cu118
torch
--extra-index-url https://download.pytorch.org/whl/cu118
torchvision
--extra-index-url https://download.pytorch.org/whl/cu118
torchaudio
nvidia-ml-py3
pathlib~=1.0.1
psutil~=5.9.0
yaml~=0.2.5
pynvml